
#_1
{
    width:1024px;
	height:768px;
	left:null;
	top:null;
	opacity:1;
	margin-left:auto;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	position:relative;
	
}

#_2
{
    width:1024px;
	height:58px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:20px;
	padding-top:0px;
	padding-right:20px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_3
{
    width:147px;
	height:58px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	font-family:TomsHandwritten;
	font-size:28px;
	color:#515151;
	overflow:hidden;
	line-height:53px;
	text-align:center;
	
}

#_4
{
    width:60px;
	height:58px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:hidden;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#0088cc;
	
}

#_5
{
    width:60px;
	height:60px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#0088cc;
	overflow:visible;
	line-height:22px;
	white-space:nowrap;
	
}

#_6
{
    text-align:center;
	left:0px;
	width:60px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:17px;
	
}

#_7
{
    width:60px;
	height:58px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:hidden;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#0088cc;
	
}

#_8
{
    width:60px;
	height:60px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#0088cc;
	overflow:visible;
	line-height:22px;
	white-space:nowrap;
	
}

#_9
{
    text-align:center;
	left:0px;
	width:60px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:17px;
	
}

#_10
{
    width:60px;
	height:58px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-ms-border-bottom-left-radius:4px;
	-o-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-ms-border-bottom-right-radius:4px;
	-o-border-bottom-right-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-ms-border-top-left-radius:4px;
	-o-border-top-left-radius:4px;
	border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-ms-border-top-right-radius:4px;
	-o-border-top-right-radius:4px;
	overflow:hidden;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#0088cc;
	
}

#_11
{
    width:60px;
	height:60px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#0088cc;
	overflow:visible;
	line-height:22px;
	white-space:nowrap;
	
}

#_12
{
    text-align:center;
	left:0px;
	width:60px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:17px;
	
}

#_13
{
    width:317px;
	height:30px;
	left:354px;
	top:14px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_14
{
    width:264px;
	height:30px;
	left:0px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-bottom-left-radius:15px;
	-ms-border-bottom-left-radius:15px;
	-o-border-bottom-left-radius:15px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:15px;
	-webkit-border-top-left-radius:15px;
	-moz-border-top-left-radius:15px;
	-ms-border-top-left-radius:15px;
	-o-border-top-left-radius:15px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	background:#fff;
	border-color:#686868;
	border-style:solid;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:30px;
	
}

#_15
{
    width:74px;
	height:30px;
	left:243px;
	top:0px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:-4px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-bottom-right-radius:15px;
	-ms-border-bottom-right-radius:15px;
	-o-border-bottom-right-radius:15px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-top-right-radius:15px;
	-ms-border-top-right-radius:15px;
	-o-border-top-right-radius:15px;
	overflow:hidden;
	border-color:#686868;
	border-style:solid;
	background:#fff;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	line-height:0px;
	
}

#_16
{
    width:786px;
	height:235px;
	left:7px;
	top:121px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:visible;
	
}

#_17
{
    width:137px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_18
{
    width:137px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_19
{
    text-align:center;
	left:0px;
	width:137px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_20
{
    width:150px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_21
{
    width:150px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_22
{
    text-align:center;
	left:0px;
	width:150px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_23
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_24
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_25
{
    text-align:center;
	left:0px;
	width:162px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_26
{
    width:175px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_27
{
    width:175px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_28
{
    text-align:center;
	left:0px;
	width:175px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_29
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_30
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	font-weight:bold;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_31
{
    text-align:center;
	left:0px;
	width:162px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_32
{
    width:137px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_33
{
    width:137px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_34
{
    text-align:center;
	left:0px;
	width:137px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_35
{
    width:150px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_36
{
    width:150px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_37
{
    text-align:center;
	left:0px;
	width:150px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_38
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_39
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_40
{
    text-align:center;
	left:0px;
	width:162px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_41
{
    width:175px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_42
{
    width:175px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_43
{
    text-align:center;
	left:0px;
	width:175px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_44
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_45
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_46
{
    text-align:center;
	left:0px;
	width:162px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_47
{
    width:137px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:rgba(255,255,255,1);
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_48
{
    width:137px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:rgba(255,255,255,1);
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_49
{
    text-align:center;
	left:0px;
	width:137px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_50
{
    width:150px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_51
{
    width:150px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_52
{
    text-align:center;
	left:0px;
	width:150px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_53
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_54
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_55
{
    text-align:center;
	left:0px;
	width:162px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_56
{
    width:175px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_57
{
    width:175px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_58
{
    text-align:center;
	left:0px;
	width:175px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_59
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_60
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_61
{
    text-align:center;
	left:0px;
	width:162px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_62
{
    width:137px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:rgba(255,255,255,1);
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_63
{
    width:137px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:rgba(255,255,255,1);
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_64
{
    text-align:center;
	left:0px;
	width:137px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_65
{
    width:150px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_66
{
    width:150px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_67
{
    text-align:center;
	left:0px;
	width:150px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_68
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_69
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_70
{
    text-align:center;
	left:0px;
	width:162px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_71
{
    width:175px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_72
{
    width:175px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_73
{
    text-align:center;
	left:0px;
	width:175px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_74
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	border-top-color:rgba(81,81,81,1);
	border-top-style:solid;
	border-bottom-color:rgba(81,81,81,1);
	border-bottom-style:solid;
	border-left-color:rgba(81,81,81,1);
	border-left-style:solid;
	border-right-color:rgba(81,81,81,1);
	border-right-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	overflow:hidden;
	
}

#_75
{
    width:162px;
	height:59px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:center;
	font-family:TomsHandwritten;
	font-size:22px;
	color:#515151;
	overflow:hidden;
	left:0px;
	top:0px;
	line-height:22px;
	white-space:nowrap;
	
}

#_76
{
    text-align:center;
	left:0px;
	width:162px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:16px;
	
}

#_77
{
    width:1024px;
	height:29px;
	left:0px;
	top:50px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	padding-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-ms-border-bottom-left-radius:0px;
	-o-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	-ms-border-bottom-right-radius:0px;
	-o-border-bottom-right-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	-ms-border-top-left-radius:0px;
	-o-border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-ms-border-top-right-radius:0px;
	-o-border-top-right-radius:0px;
	overflow:hidden;
	
}

#_78
{
    width:38px;
	height:19px;
	left:0px;
	top:5px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	text-decoration:underline;
	color:#0088cc;
	overflow:visible;
	line-height:22px;
	white-space:nowrap;
	
}

#_79
{
    text-align:left;
	left:0px;
	width:38px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:-4px;
	
}

#_80
{
    width:42px;
	height:19px;
	left:76px;
	top:5px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:22px;
	text-decoration:underline;
	color:#0088cc;
	overflow:visible;
	line-height:22px;
	white-space:nowrap;
	
}

#_81
{
    text-align:left;
	left:0px;
	width:42px;
	margin:0px;
	font-size:22px;
	line-height:22px;
	top:-4px;
	
}

#_82
{
    width:116px;
	height:40px;
	left:7px;
	top:79px;
	opacity:1;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	border-width:1px;
	text-align:left;
	font-family:TomsHandwritten;
	font-size:46px;
	color:#515151;
	overflow:visible;
	line-height:46px;
	white-space:nowrap;
	
}

#_83
{
    text-align:left;
	left:0px;
	width:116px;
	margin:0px;
	font-size:46px;
	line-height:46px;
	top:-7px;
	
}

svg:not(:root)
{
    overflow:visible;
	
}

.navbar
{
    min-height:inherit;
	position:absolute;
	
}

.navbar *
{
    position:static;
	
}

.navbar .container-fluid
{
    padding:0;
	
}

.nm-label
{
    margin:0;
	
}

ol.nm-label *, ul.nm-label *
{
    position:static;
	
}

.nm-label p
{
    margin-bottom:0;
	
}

ul, ol
{
    padding:0;
	
}

ol > li > ol
{
    margin-left:8px;
	
}

ul > li > ul
{
    margin-left:8px;
	
}

ol.nm-label, ol.nm-label ol
{
    counter-reset:item;
	
}

ol.nm-label li:not(.skip):before
{
    content:counters(item, ".") " ";
	counter-increment:item;
	
}

ol.nm-label li.skip:before
{
    content:"\a0";
	
}

ul.nm-label
{
    padding-left:20px;
	
}

ul.nm-label, ul.nm-label ul
{
    list-style-type:disc;
	
}

ul.nm-label li
{
    display:list-item;
	
}

ul.nm-label li.skip
{
    display:block;
	
}

ul.nm-label li.skip:before
{
    content:"\a0";
	
}

table
{
    display:table;
	
}

table tr
{
    position:static;
	display:table-row;
	
}

table td
{
    position:relative;
	display:table-cell;
	
}
